// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chessboard {
    width: 720px;
    height: 690px;
    margin: auto;
    margin-top: 20px;
    border: 25px solid #333;
}

.tile{
	width: 80px;
    height: 80px;
    font-size:50px;
    text-align:center;
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    opacity: 0.1;
    /*vertical-align:middle;*/
}

.clickable{
    cursor: pointer;
    opacity: 1;
}

.chessboard .opponent{
    /*cursor: pointer;*/
    opacity: 1;
}
.moveSelect .opponent{
    /*cursor: pointer;*/
    opacity: 0.4;
}

.moveSelect .clickable{
    /*cursor: pointer;*/
    opacity: 1 !important;
}

.black {
    background-color: #999;
}
.white {
    background-color: #fff;
}

.piece{
	position: relative;
	top:25px;
}
